body {
    background-color: #dddfd4;
    letter-spacing: 0.2em;
}

header {
    font-family: 'RozhaOne', sans-serif;
    background-color: #393d3f;
    padding: 75px;
}

.content {
    display: flex;
    flex-direction: row;
    width: 100%;
}

main {
    background-color: #546a7b;
    flex: 1 1 auto;
    padding: 200px;
}

aside {
    background-color: #c6c5b9;
    flex: 1 1 auto;
    padding: 10px;
}

footer {
    background-color: #393d3f;
    padding: 50px;
}

.main-container div {
   font-size: 1em;
   background-color: #373E42;
   color: #546a7b;
   margin: 1em;
   padding: 1em;
}
.main-container div p {
   background-color: #F1F1F1;
   color: #373E42;
   padding: 1em;
}
.parent-1 .p1 {
   line-height: 1.45em;
}
.parent-2 .p1 {
   line-height: 1.0em;
}
.parent-3 .p1 {
   line-height: 0.75em;
}
.parent-4 .p1 {
   line-height: 0.1em;
}
.parent-5 .p1 {
   line-height: 2.0em;
}
.parent-6 .p1 {
   line-height: 4.0em;
}
.text-element {
   font-size: 1.5em;
   text-indent: 30px;
}
.text-element::first-letter {
   color: Black;
   font-weight: bolder;
}
.text-element::first-line {
    background-color: #dddfd4;
}

.button {
  font-size: 1em;
  color: #c6c5b9;
  background-color: #546a7b;
  border-color: #c6c5b9;
  border-style: solid;
  position: relative;
  margin: auto;
  width: 9em;
  text-align: center;
}

.button:hover {
  color: #c6c5b9;
  font-style: italic;
}

.button:active {
  color: blue;
}

.pages {
  text-align: center;
  word-spacing: 80px;
}

header {
    background-color: #d0d0d0;
    font-family: sans-serif;
    font-size: 14pt;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding: 2.0em;
}

.menu-item {
    margin: auto;
    padding: 1.0em;
    min-width: 100px;
    color: black;
    background-color: #546a7b;
}

.menu-item:hover {
    background-color: #c6c5b9;
    color: #333;
}

.display-inline {
    display: inline;
}
.display-inline-block {
    display: inline-block;
}

.logo {
  float: right;
}

.logo img {
  height: 75px;
}

.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  margin: 1;
  margin-top: 0.5em;
  color: black;
  background-color: #546a7b;
  z-index: 1;
}

.dropdown-content a {
  color: #c6c5b9;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-item {
  display: block;
  text-align: left;
  margin: 2;
  padding: 6px;
  min-width: 8em;
}

aside.content-side {
  float: right;
  margin 2em;
  margin-top: 2em;
  padding: 0;
  width: 20%;
  min-width: 200px;
  color:  #FFF7DA;
  background-color:  #c6c5b9;
}

.aside-text p {
  font-style: italic;
  padding: 0.5em;
  margin: 0;
  font-size: 16px;
  color: #FFF7DA;
  text-align: left;
}

aside {
  background-color: #c6c5b9;
  flex: 1 1 auto;
  padding: 75px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
